@font-face {
  font-family: 'Source Sans Regular';
  src: url(../fonts/sourcesanspro-regular-webfont.woff2), url(../fonts/sourcesanspro-regular-webfont.woff), url(../fonts/sourcesanspro-regular-webfont.svg), url(../fonts/sourcesanspro-regular-webfont.eot);
}

@font-face {
  font-family: 'Source Sans Semibold';
  src: url(../fonts/sourcesanspro-semibold-webfont.woff2), url(../fonts/sourcesanspro-semibold-webfont.woff), url(../fonts/sourcesanspro-semibold-webfont.svg), url(../fonts/sourcesanspro-semibold-webfont.eot);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main-wrapper {
  width: 100%;
  max-width: 1600px;
  min-height: 834px;
  position: relative;
  padding-left: 55px;
  font-size: 0;
}

.menu-bar {
  width: 55px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 27px 12px;
  vertical-align: top;
  text-align: center;
  background-color: #222c3c;
  -webkit-transition: 1s;
  transition: 1s;
}

.menu-bar.open {
  width: 100px;
}

.menu-bar .humburger .button {
  margin-bottom: 10px;
  cursor: pointer;
}

.menu-bar .humburger .label {
  display: inline-block;
  padding: 15px 0;
  font-family: "Source Sans Semibold";
  font-size: 12px;
  color: #5b6779;
  text-transform: uppercase;
}

.menu-bar .menu li {
  padding: 15px 0;
  cursor: pointer;
}

.menu-bar .menu li:hover {
  background-color: #313d4f;
}

.section-bar .section-header {
  padding: 0 30px;
}

.section-bar .section-header .top-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 72px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 72px;
  border-bottom: 1px solid #e6eaee;
}

.section-bar .section-header .top-bar .label {
  font-family: "Source Sans Regular";
  font-size: 24px;
  color: #425363;
}

.section-bar .section-header .top-bar .search-bar {
  line-height: 72px;
  font-size: 0;
}

.section-bar .section-header .top-bar .search-bar .search {
  display: inline-block;
  position: relative;
}

.section-bar .section-header .top-bar .search-bar .search input[type="text"] {
  width: 270px;
  height: 36px;
  position: relative;
  top: 3px;
  padding: 0 13px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #dfe3e9;
  font-family: "Source Sans Semibold";
  font-size: 14px;
  color: rgba(53, 64, 82, 0.5);
  outline: none;
}

.section-bar .section-header .top-bar .search-bar .search input[type="text"]::-webkit-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.section-bar .section-header .top-bar .search-bar .search input[type="text"]::-moz-placeholder {
  font-family: inherit;
  font-size: 14px;
  color: inherit;
}

.section-bar .section-header .top-bar .search-bar .search input[type="text"]:-ms-input-placeholder {
  font-family: inherit;
  font-size: 14px;
  color: inherit;
}

.section-bar .section-header .top-bar .search-bar .search input[type="text"]:-moz-placeholder {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.section-bar .section-header .top-bar .search-bar .search input[type="submit"] {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 13px;
  top: 26px;
  background-image: url(../img/search.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  outline: none;
}

.section-bar .section-header .top-bar .search-bar .notification {
  display: inline-block;
  position: relative;
  margin: 0 24px;
  vertical-align: middle;
}

.section-bar .section-header .top-bar .search-bar .notification .icon {
  width: 21px;
  height: 20px;
  position: relative;
  background-image: url("../img/broadcast.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.section-bar .section-header .top-bar .search-bar .notification .counter {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: -10px;
  text-align: center;
  line-height: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #ff7800;
  font-family: "Source Sans Semibold";
  font-size: 12px;
  color: #fff;
}

.section-bar .section-header .top-bar .search-bar .user-side {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}

.section-bar .section-header .top-bar .search-bar .user-side .avatar {
  width: 36px;
  height: 36px;
  position: relative;
  margin-right: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
}

.section-bar .section-header .top-bar .search-bar .user-side .avatar:after {
  content: '';
  width: 10px;
  height: 6px;
  position: absolute;
  right: -20px;
  top: -webkit-calc(50% - 2px);
  top: calc(50% - 2px);
  background-image: url("../img/arrow.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-bar .section-header .top-bar .search-bar .user-side .avatar img {
  width: 100%;
  height: 100%;
}

.section-bar .section-header .filters {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 68px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 68px;
}

.section-bar .section-header .filters .tabs {
  font-size: 0;
}

.section-bar .section-header .filters .tabs .tab-item {
  display: inline-block;
  position: relative;
  top: -3px;
  margin-left: 30px;
  font-family: "Source Sans Semibold";
  font-size: 14px;
  color: #7f8fa4;
  cursor: pointer;
}

.section-bar .section-header .filters .tabs .tab-item:first-child {
  margin-left: 0;
}

.section-bar .section-header .filters .tabs .tab-item:hover {
  color: #354052;
}

.section-bar .section-header .filters .tabs .tab-item.active {
  color: #354052;
  border-bottom: 3px solid #1a91eb;
}

.section-bar .section-header .selects-bar .dropdown {
  display: inline-block;
  margin-right: 20px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.section-bar .section-header .selects-bar .dropdown:last-child {
  margin-right: 0;
}

.section-bar .section-header .selects-bar .dropdown button {
  position: relative;
  padding: 8px 40px 8px 16px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 -1px 0 0 #e6eaee;
          box-shadow: 0 -1px 0 0 #e6eaee;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f2f4f7), to(#ffffff));
  background-image: -webkit-linear-gradient(bottom, #f2f4f7, #ffffff);
  background-image: linear-gradient(to top, #f2f4f7, #ffffff);
  border: solid 1px #ced0da;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-family: "Source Sans Semibold";
  font-size: 14px;
  color: #354052;
}

.section-bar .section-header .selects-bar .dropdown button:after {
  width: 10px;
  height: 6px;
  position: absolute;
  top: 16px;
  right: 21px;
  border-top: none;
  background-image: url("../img/arrow.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-bar .content {
  padding: 50px 30px;
  background-color: #eff3f6;
  font-size: 0;
}

.section-bar .content h2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  font-family: "Source Sans Regular";
  font-size: 24px;
  color: #425363;
}

.section-bar .content .content-aside {
  display: inline-block;
  width: 380px;
  vertical-align: top;
}

.section-bar .content .content-aside .breadcrumbs-container {
  padding: 30px;
  background-color: #e6eaee;
}

.section-bar .content .content-aside .breadcrumbs-container .breadcrumbs-item {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Source Sans Regular";
  font-size: 12px;
  color: #00aeef;
  letter-spacing: 1px;
}

.section-bar .content .content-aside .breadcrumbs-container .breadcrumbs-item:after {
  content: '>';
  display: inline-block;
  margin: 0 8px;
  color: #aeb6c5;
  font-family: "Source Sans Regular";
  font-size: 12px;
}

.section-bar .content .content-aside .breadcrumbs-container .breadcrumbs-item:last-child {
  color: #7f8fa4;
}

.section-bar .content .content-aside .breadcrumbs-container .breadcrumbs-item:last-child:after {
  display: none;
}

.section-bar .content .content-aside .breadcrumbs-container .back {
  margin-top: 30px;
  font-family: "Source Sans Regular";
  font-size: 16px;
  color: #354052;
  cursor: pointer;
}

.section-bar .content .main-section {
  display: inline-block;
  width: -webkit-calc(100% - 415px);
  width: calc(100% - 415px);
  margin-left: 35px;
  vertical-align: top;
}

.section-bar .content .main-section .teams-container > ul > li > .item:before {
  display: none;
}

.section-bar .content .main-section .teams-container li {
  height: 66px;
  margin: 5px 0;
  position: relative;
  overflow-y: visible;
  -webkit-transition: .7s;
  transition: .7s;
}

.section-bar .content .main-section .teams-container li:before {
  content: '';
  width: 3px;
  position: absolute;
  top: 0;
  bottom: 33px;
  left: 5px;
  background-color: #d3d8e0;
}

.section-bar .content .main-section .teams-container li.last-open:before {
  background-color: #00aeef;
}

.section-bar .content .main-section .teams-container li > ul {
  padding-left: 45px;
}

.section-bar .content .main-section .teams-container li.has-children {
  overflow-y: hidden;
}

.section-bar .content .main-section .teams-container li.open {
  height: auto;
  overflow: visible;
}

.section-bar .content .main-section .teams-container li.short-line:before {
  bottom: 93px;
}

.section-bar .content .main-section .teams-container .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #d3d8e0;
}

.section-bar .content .main-section .teams-container .item:before {
  content: '';
  width: 40px;
  height: 2px;
  position: absolute;
  top: -webkit-calc(50% - 1px);
  top: calc(50% - 1px);
  left: -40px;
  background-color: #d3d8e0;
}

.section-bar .content .main-section .teams-container .item.last-open:before {
  background-color: #00aeef;
}

.section-bar .content .main-section .teams-container .item.no-member .person .avatar {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #eff3f6;
  border: solid 1px rgba(255, 255, 255, 0.24);
  text-align: center;
  cursor: pointer;
}

.section-bar .content .main-section .teams-container .item.no-member .person .avatar img {
  width: 16px;
  height: 16px;
  margin-top: 13px;
}

.section-bar .content .main-section .teams-container .item.new {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-bar .content .main-section .teams-container .item.new:before {
  display: none;
}

.section-bar .content .main-section .teams-container .item.new .add-marker {
  display: inline-block;
  width: 34px;
  height: 34px;
  position: relative;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #eff3f6;
  border: solid 1px rgba(255, 255, 255, 0.24);
  cursor: pointer;
}

.section-bar .content .main-section .teams-container .item.new .add-marker .line {
  width: 16px;
  height: 2px;
  position: absolute;
  top: -webkit-calc(50% - 1px);
  top: calc(50% - 1px);
  left: -webkit-calc(50% - 7.5px);
  left: calc(50% - 7.5px);
  background-color: #00aeef;
  -webkit-transition: 1s;
  transition: 1s;
}

.section-bar .content .main-section .teams-container .item.new .add-marker .line-1 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.section-bar .content .main-section .teams-container .item.new .add-label {
  margin-top: 8px;
  padding-left: 10px;
  font-family: "Source Sans Semibold";
  font-size: 16px;
  color: #354052;
  cursor: pointer;
}

.section-bar .content .main-section .teams-container .item .person .avatar {
  display: inline-block;
  width: 44px;
  height: 44px;
  vertical-align: top;
}

.section-bar .content .main-section .teams-container .item .person .avatar img {
  width: 100%;
  height: 100%;
}

.section-bar .content .main-section .teams-container .item .person .info {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

.section-bar .content .main-section .teams-container .item .person .info .name {
  margin-top: 5px;
  font-family: "Source Sans Semibold";
  font-size: 18px;
  color: #425363;
}

.section-bar .content .main-section .teams-container .item .person .info .position {
  margin-top: 3px;
  font-family: "Source Sans Regular";
  font-size: 14px;
  color: #7f8fa4;
}

.section-bar .content .main-section .teams-container .item .right-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-bar .content .main-section .teams-container .item .right-bar .date {
  margin-top: 20px;
  font-family: "Source Sans Regular";
  font-size: 14px;
  color: #7f8fa4;
}

.section-bar .content .main-section .teams-container .item .right-bar .counter {
  display: inline-block;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #eff3f6;
  font-family: "Source Sans Semibold";
  font-size: 14px;
  color: #425363;
}

.section-bar .content .main-section .teams-container .item .right-bar .more {
  width: 19px;
  height: 19px;
  position: relative;
  margin-left: 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #00aeef;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.section-bar .content .main-section .teams-container .item .right-bar .more .line {
  width: 10px;
  height: 2px;
  position: absolute;
  top: -webkit-calc(50% - 1px);
  top: calc(50% - 1px);
  left: -webkit-calc(50% - 5px);
  left: calc(50% - 5px);
  background-color: #00aeef;
  -webkit-transition: 1s;
  transition: 1s;
}

.section-bar .content .main-section .teams-container .item .right-bar .more .line-1 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.section-bar .content .main-section .teams-container .item .right-bar .more.open {
  border-color: #aeb6c5;
}

.section-bar .content .main-section .teams-container .item .right-bar .more.open .line {
  background-color: #aeb6c5;
}

.section-bar .content .main-section .teams-container .item .right-bar .more.open .line-1 {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

/*# sourceMappingURL=custom.css.map */
